.icon-add {
    background-image: url(images/add.png) !important;
}

.icon-delete {
    background-image: url(images/delete.png) !important;
}

.navigation {
}

.navigation .x-tab {
    height: 40px;
}

.navigation .x-tab-icon-el-default {
    width: 32px;
    height: 32px;
}

.logbook-tab-icon {
    background-image: url(images/fatcow/32/book.png) !important;
}

.statistics-tab-icon {
    background-image: url(images/fatcow/32/statistics.png) !important;
}

.integrations-tab-icon {
    background-image: url(images/fatcow/32/database_cleanup.png) !important;
}

.settings-tab-icon {
    background-image: url(images/fatcow/32/gear_in.png) !important;
}
