body { font-size: 12px; }

th { font-size: 12px; }
td { font-size: 12px; }

td.highlight { background-color: #D0FFD0; }

.asText { color: black; }
.yes { font-weight: bold; color: green; }
.no { font-weight: bold; color: red; }
.off { color: darkgray; }
.todo { color: blue; font-weight: bold; font-style: italic; }
